
.container {
  margin: 2% 25%
}

.child1 {

  height: 300px;
  width: 300px;
  text-align: center;
}

.child2 {


  height: 300px;
  width: 300px;
  margin-left: 320px;
  margin-top: -300px;
}

.child3 {
  height: 300px;
  width: 300px;
  margin: 2% 40%;
}

.button-container {
  position: relative;
  background-color: rgba(146, 135, 135, 0.167);
  margin-top: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  ;
  text-align: right;
  
}


.content-right a {
  
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #1e3932;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 10px;
  cursor: pointer;
 
}
.content-right{
text-align: right;
}

.content-left{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  margin-right: 800px;
  color: #1e3932;
}








footer {
  background-color: #1e3932;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  bottom: none;
  width: 100%;
}

.container-3 {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
}